@media only screen and (min-width: 769px) and (max-width: 1281px) 
{
    
}

@media only screen and (min-width:300px) and (max-width:750px)
{
    .pricing-heading h2
    {
        font-size: 19px;
    }
    .banner-heading h2
    {
        font-size: 35px;
    }
    .banner-heading p
    {
        font-size: 13px;
    }
    .about-heading h2
    {
        font-size: 32px;
    }
    .skill-section h2
    {
        font-size: 22px;
    }
    .pricing-heading h2
    {
        font-size: 22px;
    }
    .portfolio-heading h2
    {
        font-size: 20px;
    }
    .btn-info 
    {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        margin-bottom: 10px;
    }
    .blog-heading h2
    {
        font-size: 22px;
    }
    .about-section .about-heading
    {
        order: 2;
    }
}